body {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 35px;
}
h1 {
  text-align: center;
  font-size: 47px;
  color: rgb(152, 50, 248);
  margin: 20px auto 35px auto;
  font-weight: 700;
}
img {
  width: 50px;
}
h5 {
  color: #0d9b94;
  font-size: 16px;
  display: inline;
  margin-left: 20px;
}
a {
  font-size: 13px;
  color: #5263be;
  background-color: #f7effa;
  box-shadow: 5px 5px 5px #f7effa;
}
h6 {
  text-align: center;
  margin-top: 20px;
}
.weatherup {
  border: 1px solid #dadde1;
  margin: 20px auto;
  padding: 20px;
  max-width: 510px;
}
.col-4 {
  text-align: right;
  font-size: 15px;
  color: #8dc351;
  margin-right: 20px;
  margin: auto;
}
.col-8 {
  font-size: 20px;
  margin-left: 20px;
  margin: auto;
  color: #cd3bf1;
}
.cities {
  color: #624fce;
  font-size: 16px;
  border-radius: 7px;
  border: solid #eedaf3;
  background-color: #fefbff;
}
.card {
  margin: 10px auto;
  width: 510px;
  font-size: 16px;
  border: solid #eedaf3;
}
.card-text {
  color: #3abcb5;
  text-align: right;
}
.signature {
  color: #cd3bf1;
  text-decoration: none;
  background-color: #fff;
  box-shadow: none;
}
#cityName {
  color: #f834de;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
}
